# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Logs / outputs
*.log
log.txt

# Jupyter
.ipynb_checkpoints/

# VS Code settings
.vscode/
